{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medify - {% block title %} Default Title {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'medify/images/medify-red-64.fw.png' %}" sizes="64x64">
    <link type="text/css" rel="stylesheet" href="{% static 'medify/css/materialize.css' %}" i/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% block css %}{% endblock %}
</head>

<body>
    <script type="text/javascript" src="{% static 'medify/js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'medify/js/materialize.js' %}"></script>
    {% block js %}{% endblock %}
    <div class="navbar-fixed" role="navigation">
        <nav>
            <div class="nav-wrapper container">
                <a id="logo-container" href="{% url 'index' %}" class="brand-logo">
                    <img id="main-logo" src="{% static 'medify/images/main-logo.png' %}"> Medify
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}">Search</a></li>
                    <li><a href="{% url 'pharmacies' %}">Pharmacies</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="content" class="container">
        {% block content %}
        <h1>No content!</h1> {% endblock %}
    </div>
</body>

</html>
