{% extends 'medify/base.html' %} {% load staticfiles %} {% block title %}Search{% endblock %} {% block js %}
<script type="text/javascript" src="{% static 'medify/js/index.js' %}"></script>
{% endblock %} {% block content %}
<div id="search">
    <ul class="collapsible" data-collapsible="accordion">
        <li style="border-bottom: 1px solid #ddd;">
            <div class="container">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="product_name" type="text">
                    <label for="product_name">Product Name / Manufacturer / Active Ingredient</label>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header grey lighten-5">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <span class="card-title grey-text text-darken-4">Advanced Search
                        <i class="material-icons left">settings</i>
                    </span>
                    </div>
                </div>
            </div>
            <div class="collapsible-body grey lighten-4">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="product_name_advanced" type="text">
                                <label for="product_name_advanced">Product Name</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="manufacturer_advanced" type="text">
                                <label for="manufacturer_advanced">Manufacturer</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="active_ingredient_advanced" type="text">
                                <label for="active_ingredient_advanced">Active Ingredients</label>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="input-field col s4">
                                <div class="select-wrapper">
                                    <select id="f_class">
                                        <option value="" disabled selected>Availability</option>
                                        <option value="general">General Sale List</option>
                                        <option value="pharmacy">Pharmacy Only</option>
                                        <option value="prescription">Prescription Only</option>
                                    </select>
                                </div>

                                <label>Forensic Classification</label>
                            </div>
                            <!--TODO: Add date select-->

                            <div class="input-field col s3">
                                <input id="fromdate" type="date" class="datepicker">
                                <label for="fromdate">License Date (From)</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="todate" type="date" class="datepicker">
                                <label for="todate">License Date (To)</label>
                            </div>
                            <div class="col s2 valign" style="padding:11px">
                                <a id="advancedbtn" class="waves-effect waves-light btn valign" style="padding-left: 10px; padding-right: 10px;"><i class="material-icons right">send</i>Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<div id="results" class="row">
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Deep Search</h4>
        <p>No results was found... Would you like to do a deep search instead?</p>
    </div>
    <div class="modal-footer">
        <a id="deepsbtn" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">No</a>
    </div>
</div>

<div>
    <input id="deepsval" type="text" hidden value="false">
</div>

<div id="clearbtn" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red waves-effect waves-light red">
        <i class="large material-icons">close</i>
    </a>
</div>

<div id="filtermenu" class="fixed-action-btn" style="bottom: 45px; left: 24px;">
    <a id="filterbtn" class="btn-floating btn-large red">
        <i class="large material-icons">filter_list</i>
    </a>
    <ul>
        <li><a id="filter_am" class="btn-floating green lighten-2"><i class="material-icons">verified_user</i></i></a></li>
        <li><a id="filter_im" class="btn-floating red darken-1"><i class="material-icons">warning</i></a></li>
        <li><a id="filter_ad" class="btn-floating green"><i class="material-icons">memory</i></a></li>
    </ul>
</div>

<div id="loading-circle" hidden>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
</div>


{% endblock %}
