{% extends 'medify/base.html' %} {% load staticfiles %} {% block js %}
<script type="text/javascript" src="{% static 'medify/js/index.js' %}"></script>
{% endblock %} {% block content %}
<div id="search">
    <ul class="collapsible" data-collapsible="accordion">
        <li style="border-bottom: 1px solid #ddd;">
            <div class="container">
                <form class="">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input id="product_name" type="text">
                        <label for="product_name">Product Name / Manufacturer / Active Ingredient</label>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <span class="card-title grey-text text-darken-4">Advanced Search<i class="material-icons left">settings</i></span>
            </div>
            <div class="collapsible-body row">
                <div class="col s10 offset-s1">
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="product_name_advanced" type="text">
                            <label for="product_name_advanced">Product Name</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="manufacturer_advanced" type="text">
                            <label for="manufacturer_advanced">Manufacturer</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="active_ingredient_advanced" type="text">
                            <label for="active_ingredient_advanced">Active Ingredients</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <div class="select-wrapper">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="general">General Sale List</option>
                                    <option value="pharmacy">Pharmacy Only</option>
                                    <option value="prescription">Prescription Only</option>
                                </select>
                            </div>

                            <label>Forensic Classification</label>
                        </div>
                        <!--TODO: Add date select-->

                        <div class="input-field col s4">
                            <input id="" type="text">
                            <label for=""></label>
                        </div>
                        <div class="col s3 right">
                            <a class="waves-effect waves-light btn" style="vertical-align:bottom"><i class="material-icons right">send</i>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="results">
    <!--PLACEHOLDER DONTSHIP-->
    <div class="row">
        <div class="col s4">
            <div class="card green lighten-2">
                <div class="card-content">
                    <span class="card-title">Registered Product</span>
                    <p class="grey-text text-lighten-4">Active Ingredient</p>
                    <p class="grey-text text-lighten-4">Manufacturer, Country</p>
                    <p class="grey-text text-lighten-4">Availability</p>
                    <p class="grey-text text-lighten-4">Dosage Form, Route</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card red darken-1">
                <div class="card-content">
                    <span class="card-title">Illegal Product</span>
                    <p class="grey-text text-lighten-4">Active Ingredient</p>
                    <p class="grey-text text-lighten-4">Manufacturer, Country</p>
                    <p class="grey-text text-lighten-4">Availability</p>
                    <p class="grey-text text-lighten-4">Dosage Form, Route</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card yellow darken-2">
                <div class="card-content">
                    <span class="card-title">Unknown Product</span>
                    <p class="grey-text text-lighten-4">Active Ingredient</p>
                    <p class="grey-text text-lighten-4">Manufacturer, Country</p>
                    <p class="grey-text text-lighten-4">Availability</p>
                    <p class="grey-text text-lighten-4">Dosage Form, Route</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
